/*
=================NAV BAR=================
*/
nav {
    font-size: 2rem;
    background-color: #f1f1f1;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
}
nav ul li {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}
nav ul li:hover {
    color: white;
    background-color: #555;
}
/* for a responsive nav bar */
@media all and (max-width: 400px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
    }
}
/*
=================CENTERING ITEM=================
*/
.container {
    height: 400px;
    width: 400px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    height: 80px;
    width: 80px;
    border: 3px solid orange;
}
/*
=================VARIABLE HEIGHT=================
*/
.container2 {
    font-size: 1.5rem;
    display: flex;
}
.item1 {
    background-color: firebrick;
    /* float: left; */
    /* width: 20%; */
}
.item2 {
    background-color: forestgreen;
    /* float: right; */
    /* width: 80%; */
}
.cards {
    display: flex;
}
.card {
    font-size: 1.5rem;
    border: 4px solid black;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card .footer {
    padding: 5px;
    background-color: #f1f1f1;
}
.card .body {
    flex: 1;
}
hr {
    border: solid;
}
/*
=================HOLY GRAIL LAYOUT=================
*/
section {
    margin: 2px;
}
